.link {
  display: block;
  text-decoration: none;
  width: 30%;
  background-color: #c33329;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
}

span {
  color: #fff;
}

.link:hover {
  scale: 1.1;
  background-color: #000;
}
